@use './tailwind.css'; 
@use './assets/layout/layout.scss';
@use './assets/demo/demo.scss'; 
@import 'primeicons/primeicons.css'; 
@import 'material-symbols/index.css';


/* Add any non-Tailwind global styles here. */

.layout-topbar-logo img {
    content: url('/logos/fundflow-logo-3.svg');
}

.login-page-logo img {
    content: url('/logos/fundflow-logo-3.svg');
}

.material-symbols-outlined,.material-symbols-rounded,.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}