<div class="flex gap-6 flex-wrap">
  <a [routerLink]="'members'" class="cursor-pointer">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
      <div class="card mb-0">
        <div class="flex justify-between mb-4">
          <div>
            <span class="block text-muted-color font-medium mb-4">Members</span>
            <div
              class="text-surface-900 dark:text-surface-0 font-medium text-xl"
            >
              111
            </div>
          </div>
          <div
            class="flex ml-2 items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-border"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="pi pi-users text-orange-500 !text-xl"></i>
          </div>
        </div>
        <!-- <span class="text-primary font-medium">%52+ </span> -->
        <!-- <span class="text-muted-color">since last week</span> -->
      </div>
    </div>
  </a>
  <!-- Groups  -->
  <a (click)="openGroupDrawer()" class="cursor-pointer">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
      <div class="card mb-0">
        <div class="flex justify-between mb-4">
          <div>
            <span class="block text-muted-color font-medium mb-4">Groups</span>
            <div
              class="text-surface-900 dark:text-surface-0 font-medium text-xl"
            >
              111
            </div>
          </div>
          <div
            class="flex ml-2 items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-border"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="text-orange-500 !text-xl">
              <span class="material-symbols-outlined"> group_add </span>
            </i>
          </div>
        </div>
        <!-- <span class="text-primary font-medium">%52+ </span> -->
        <!-- <span class="text-muted-color">since last week</span> -->
      </div>
    </div>
  </a>
</div>

<app-save-group></app-save-group>
